service firebase.storage {
 match /b/{bucket}/o {
  match /img_to_ocr {
     
     // Allow write files to the path "img_to_ocr/*", subject to the constraints:
     // 1) File is less than 5MB
     // 2) Content type is an image
     match /{imageId} {
       allow write: if request.resource.size < 5 * 1024 * 1024
                    && request.resource.contentType.matches('image/.*');
    
        allow read: if false;  //Users cannot read images stored in Cloud Storage
     }
     
  }
 }
}
